html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

#coronaChart {
    width: 100%;
    top: 0px;
    bottom: 0px;
}

#source {
    color: gray;
    padding: 20px 5% 0 5%;
    text-align: center;
}
#source a {
    color: inherit;
}

.btn-outline-secondary:hover {
    color: inherit;
    background-color: inherit;
}